hr {
  height: 1px;
  width: 95%;
  background-color: #000000;
}

.box {
  background-color: #dddddd;
  width: 50%;
  min-height: 100px;
  margin: auto;
  padding: auto;
  margin-top: 30px;
  border-radius: 5px;
}

.box a {
  text-decoration: none;
  color: #000000b0;
}

.box:hover {
  cursor: pointer;
  border: 1px solid #fff;
}

.box img {
  height: 100px;
  float: left;
  border: none;
}

.box p {
  margin-right: 25px;
  margin-top: 35px;
}

.parent {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

@media only screen and (max-width: 600px) {
  body {
    overflow-y: scroll;
  }

  .box {
    width: 95%;
  }
}
